@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation


<AuthorizeView>
    <Authorized>
        <select class="AdminDrop form-control" @onchange="HandleOptionChange">
            <option value=""> Admin </option>
            <option value="/Users">Edit users</option>
            <option value="Option 2">Option 2</option>
            <option value="Option 3">Option 3</option>
        </select>

        <a href="authentication/profile">Welcome, @context.User.Identity?.Name</a>
        <button class="nav-link btn btn-link" @onclick="BeginLogOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/register">Register</a>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }


    private void HandleOptionChange(ChangeEventArgs args)
    {
        Navigation.NavigateTo(args.Value.ToString());
    }
}
